.wrapper {
  max-width: 1400px;
  margin: auto;
}

.component-wrapper {
  padding-right: 60px;
  padding-left: 60px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 28px;
  padding-bottom: 28px;

  border-bottom: 1px solid var(--color-black);
}

.section-heading h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
}

.breadcrumb {
  padding-top: 48px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.breadcrumb span {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

h1.title-default {
  font-size: 48px;
  font-weight: 500;
}