@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.5px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-black: black;
  --color-white: white;
  --color-light-gray: #f8f8f8;
  --color-gray: #b2b2b2;
}

body {
  margin: 0;
}

