.services__content {
  display: flex;
  justify-content: space-between;

  padding-top: 56px;
  padding-bottom: 56px;
}

.services__content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
}

.services__content-title span {
  font-size: 400px;
  font-weight: bold;
  line-height: 0.8;
}

.services__content-title h1 {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
}

.services__content-contents {
  display: flex;
  justify-content: space-between;
}

.services__content-tabs {
  display: flex;
}

.services__content-tabs ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 96px;
  align-self: center;

  padding: 48px;
}

.services__content-tabs ul li {
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

.services__content-tabs ul li div {
  height: 1px;
  width: 0;
  background-color: var(--color-black);
  margin-top: 5px;

  transition: ease 0.5s;
}

.services__content-tabs ul li.active div,
.services__content-tabs ul li:hover div {
  width: 100%;
}

.services__content-content {
  max-width: 560px;
}