.about__wrapper {
  text-align: center;
}

.about__wrapper p {
  font-weight: 300;
  max-width: 500px;
  margin: auto;
}

.about__images {
  display: flex;
  justify-content: space-between;

  padding: 72px 0;
}

.about__image {
  background-color: var(--color-light-gray);
  width: 380px;
  height: 320px;
}

.about__image img {
  height: 390px;

  transform: translateY(-70px);
}