<div id="<%= dom_id project_photo %>">
  <p>
    <strong>Project:</strong>
    <%= project_photo.project.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project_photo.title %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag(project_photo.photo) %>
  </p>

</div>
